<!-- templates/dice/dice_page.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
<h1>Dice</h1>
<li>Value: {{ roll.value }}</li>
<li>Result: {{ roll.result }}</li>
<form method="get">
    <input type="submit" class="btn" value="Roll" name="roll_btn">
</form>

<h1>Attributes</h1>
<form method="get">
    <div class="attributes">
        <div class="attribute">Strength: <input type="checkbox" id="str1" name="strength1" value="1"
                                                checked>
            <input type="checkbox" id="str2" name="strength2" value="1"
                   checked>
            <input type="checkbox" id="str3" name="strength3" value="1"
                   checked>
            <input type="checkbox" id="str4" name="strength4" value="1"
                   checked>
            <input type="checkbox" id="str5" name="strength5" value="1"
                   checked> {{ attributes.strength }}
        </div>
        <div class="attribute">Dexterity: {{ attributes.dexterity }}</div>
        <div class="attribute">Stamina: {{ attributes.stamina }}</div>

        <div class="attribute">Charisma: {{ attributes.charisma }}</div>
        <div class="attribute">Manipulation: {{ attributes.manipulation }}</div>
        <div class="attribute">Composure: {{ attributes.composure }}</div>

        <div class="attribute">Intelligence: {{ attributes.intelligence }}</div>
        <div class="attribute">Wits: {{ attributes.wits }}</div>
        <div class="attribute">Resolve: {{ attributes.stamina }}</div>
    </div>
    {#<li> &emsp; Charisma: {{ data.charisma }} </li>#}
    {#<li> &emsp; Dexterity: {{ data.manipulation }} </li>#}
    {#<li> &emsp; Stamina: {{ data.composure }}</li>#}


    <input type="submit" class="btn" value="Submit" name="submit_attributes_btn">
</form>
{#<html>#}
{#    <head>#}
{#        <title>An example</title>#}
{#        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#        <script>#}
{#            function call_counter(url) {#}
{#window.open(url);#}
{#                $.get('YOUR_VIEW_HERE/'+pk+'/', function (data) {#}
{##}
{#                    alert("counter updated!");#}
{#                });#}
{#            }#}
{#        </script>#}
{#    </head>#}
{#    <body>#}
{#        <button onclick="call_counter('http://www.google.com', 12345);">#}
{#            I update object 12345#}
{#        </button>#}
{#        <button onclick="call_counter('http://www.yahoo.com', 999);">#}
{#            I update object 999#}
{#        </button>#}
{#    </body>#}
{#</html>#}
