<!-- templates/dice/dice_page.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
<h1>Dice</h1>
<li>Value: {{ roll.value }}</li>
<li>Result: {{ roll.result }}</li>
<form method="post">
    {% csrf_token %}
    <input type="submit" class="btn" value="Roll" name="roll_btn">


    <h1>Attributes</h1>
    <div class="attributes">
{#        {{ attributes }}#}
        <div class="attribute"> Strength: </div><div class="field">{{ attributes.strength }}</div> <div class="checkbox">{{ attributes.strength_check }}</div>
        <div class="attribute"> charisma: </div><div class="field">{{ attributes.charisma }}</div> <div class="checkbox">{{ attributes.charisma_check }}</div>
        <div class="attribute"> intelligence: </div><div class="field">{{ attributes.intelligence }}</div> <div class="checkbox">{{ attributes.intelligence_check }}</div>

        <div class="attribute"> dexterity: </div><div class="field">{{ attributes.dexterity }}</div> <div class="checkbox">{{ attributes.dexterity_check }}</div>
        <div class="attribute"> manipulation: </div><div class="field">{{ attributes.manipulation }}</div> <div class="checkbox">{{ attributes.manipulation_check }}</div>
        <div class="attribute"> wits: </div><div class="field">{{ attributes.wits }}</div> <div class="checkbox">{{ attributes.wits_check }}</div>

        <div class="attribute"> stamina: </div><div class="field">{{ attributes.stamina }}</div> <div class="checkbox">{{ attributes.stamina_check }}</div>
        <div class="attribute"> composure: </div><div class="field">{{ attributes.composure }}</div> <div class="checkbox">{{ attributes.composure_check }}</div>
        <div class="attribute"> resolve: </div><div class="field">{{ attributes.resolve }}</div> <div class="checkbox">{{ attributes.resolve_check }}</div>
    </div>
</form>