{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Screwdriver</title>
    </head>
    <body>
        <header class="page-header">
          <h1>Screwdriver</h1>
        </header>
        <main class="content container">
            <div class="row">
                <div class="col">
                    {% for image in images %}
                            <p>{{image}}</p>
                    {% endfor %}
                    {% block content %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input type="submit" value="OK">
                    </form>
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>