.attributes {
    display: grid;
    grid-template-columns: 100px 50px 50px 100px 50px 50px  100px 50px 50px;
    /*grid-gap: 50px;*/

}

.field {
    width: 10px;
    font-size: 50px;

}

.attribute {
    font-size: 20px;
    /*white-space: nowrap;*/
}